        @media screen and (max-width: 600px) {
           .section , .d-grid{
                   display: block;
           }
           .section .logo{
                   width:20%;
                   height: auto;
                   margin: 0 auto;

           }
          
           .section .intro{
                   text-align:center;
           }
        }
        .d-grid .opsom {
                border:0px;
        }
        .d-grid .titel{
                padding: 10px;
        }