        @media screen and (max-width: 600px) {
           .container .section {
                   display: block;
           }
           .container .section #logo{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 20%;
                  

           }
           .section .intro{
                   width:100%;
           }
          
           .section .intro{
                   text-align:center;
           }
        }
      